<ion-header-bar align-title="center" class="bar-blue">
    <div class="h1 title" ng-bind="filters.companyName"></div>
</ion-header-bar>
<ion-content >
    <div class="content">
		<div class="banner1"></div>
		<div class="data_count">
			<div class="data_box" ng-click="gotowaitBreed()">
				<span>{{waitBreedNum}}</span>
				<span>待配母猪</span>
			</div>
			<div class="data_box" ng-click="gotowaitDelivery()">
				<span>{{waitDeliveryNum}}</span>
				<span>待产母猪</span>
			</div>
			<div class="data_box"  ng-click="gotowaitWean()">
				<span>{{waitWeanNum}}</span>
				<span>待断奶母猪</span>
			</div>
		</div>
		<div class="in_nav">
			<ul>
				<li  ng-click="gotoBreed()">
					<em></em>
					<span>配种</span>
				</li>
				<li  ng-click="gotoCheck()">
					<em></em>
					<span>妊检</span>
				</li>
				<li  ng-click="gotoDelivery()">
					<em></em>
					<span>分娩</span>
				</li>
				<li  ng-click="gotoWean()">
					<em></em>
					<span>断奶</span>
				</li>
				<li  ng-click="gotoCollect()">
					<em></em>
					<span>采精</span>
				</li>
				<li  ng-click="gotoHogMove()">
					<em></em>
					<span>肉猪转舍</span>
				</li>
				<li  ng-click="gotoBoarLeave()">
					<em></em>
					<span>种猪离群</span>
				</li>
				<li  ng-click="gotoHogLeave()">
					<em></em>
					<span>肉猪离群</span>
				</li>
				<li  ng-click="gotoHogCheck()">
					<em></em>
					<span>肉猪盘点</span>
				</li>
				<li >
					<em></em>
					<span>后备培育</span>
				</li>
			</ul>
		</div>
	</div>
  </ion-content>